<fieldset class="childInner" formGroupName="childInner">
  <legend>Child Inner</legend>
  <div formArrayName="fa">
    <ng-container *ngFor="let item of fa.controls; let i = index">
      <div [formGroup]="fa.controls[i]" [formGroupName]="i">
        <label>Inner Item {{ i + 1 }} </label>
        <app-child2 [child2]="child2(i)"></app-child2>
      </div>
      <button type="button" (click)="delete(i)">Delete</button>
    </ng-container>
  </div>
  <button type="button" (click)="add()">Add</button>
</fieldset>
