<fieldset class="childOuter" formGroupName="childOuter">
  <legend>Child Outer</legend>
  <div formArrayName="fa">
    <ng-container *ngFor="let item of fa.controls; let i = index">
      <div [formGroup]="fa.controls[i]" [formGroupName]="i">
        <label>Outer Item {{ i + 1 }} </label>
        <app-child-inner [childInner]="childInner(i)"></app-child-inner>
      </div>
      <button type="button" (click)="delete(i)">Delete</button>
    </ng-container>
  </div>
  <button type="button" (click)="add()">Add</button>
</fieldset>
