.child2 {
}

.childShared1 {
  border: 1px solid red;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

.childShared2 {
  border: 1px solid blue;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}
