<fieldset class="child2" [formGroup]="fg" formGroupName="child2">
  <legend>Child 2</legend>
  <input formControlName="fc" />
  <ng-container *ngIf="isInvalid()">
    <span class="error">Invalid Child 2</span>
  </ng-container>
  <div class="childShared1">
    <label>Child Shared 1</label>
    <app-child-shared controlName="childShared1" [childShared]="child2 ? child2.childShared1 : null"></app-child-shared>
  </div>
  <div class="childShared2">
    <label>Child Shared 2</label>
    <app-child-shared controlName="childShared2" [childShared]="child2 ? child2.childShared2 : null"></app-child-shared>
  </div>
</fieldset>
